a.git-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.card{
   width: 18rem;
   border-width: 1px;
   position: relative;
   border-width: 1px;
   border-color: navy;
   overflow-x: hidden;
}

video{
    background-color: #252525;
}